@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --primary-font: "Fredoka", sans-serif;
    --black: #000000;
    --very-light-grey: #F9FAFB;
    --light-grey: #F3F4F6;
    --border-grey: #D1D5DB;
    --placeholder-grey: #9CA3AF;
    --subtle-grey: #6B7280;
    --btn-hover: #1F2937;
    --white: #ffffff;
    --box-shadow: shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];

}

*{
    font-family: var(--primary-font);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 500px;
    width: 100%;
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: white;
    padding: 2rem 2.5rem;

    border: 3px solid black;
    border-radius: 24px;
    position: relative;
    width: 380px;
}

.container::before {
  content: "";
  position: absolute;

  bottom: -12px;
  left: -12px;

  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 24px;
  background: var(--black);
  background: transparent;
  z-index: -1;
}

header{
    text-align: center;
}
