@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --primary-font: "Fredoka", sans-serif;
    --black: #000000;
    --very-light-grey: #F9FAFB;
    --light-grey: #F3F4F6;
    --border-grey: #D1D5DB;
    --placeholder-grey: #9CA3AF;
    --subtle-grey: #6B7280;
    --btn-hover: #1F2937;
    --white: #ffffff;
    --box-shadow: shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
    --green: #CAC426;

}

*{
    font-family: var(--primary-font);
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 500px;
    width: 100%;
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: white;
    padding: 2rem 2.5rem;
    gap: 20px;
    border: 3px solid black;
    border-radius: 24px;
    position: relative;
    width: 380px;
}

.container::before {
  content: "";
  position: absolute;

  bottom: -12px;
  left: -12px;

  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 24px;
  background: var(--black);
  background: transparent;
  z-index: -1;
}

header{
    text-align: center;
}

header h1{
    font-size: 3rem;
}

header small{
    font-size: 1rem;
    color: var(--subtle-grey);
}

header .curly-line{
    width: 300px;
  height: 20px;
  border-bottom: 4px solid black;
  border-radius: 100%;
}

form{
    max-width: 80%;
    width: 100%;
}

form input{
    width: 60%;
    padding: 12px 25px;
    border-radius: 20px;
    border: 3px solid var(--black);
}

form button{
    max-width: 32%;
    width: 100%;
    padding: 11px;
    border-radius: 18px;
    cursor: pointer;
    border: 3px solid var(--black);
    text-align: center;
    font-weight: bold;
    background-color: var(--green);
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

form button:hover{
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}

form input:focus{
    outline: none;
    border: 3px solid var(--green);
}
/* CHECKBOX */

/* From Uiverse.io by PriyanshuGupta28 */ 
.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
  .checkbox-wrapper ::after,
  .checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .label {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

/* END OF TICKBOX */