@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --primary-font: "Fredoka", sans-serif;
    --black: #000000;
    --very-light-grey: #F9FAFB;
    --light-grey: #F3F4F6;
    --border-grey: #D1D5DB;
    --placeholder-grey: #9CA3AF;
    --subtle-grey: #6B7280;
    --btn-hover: #1F2937;
    --white: #ffffff;
    --box-shadow: shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
    --green: #CAC426;

}

*{
    font-family: var(--primary-font);
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 500px;
    width: 100%;
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: white;
    padding: 2rem 2.5rem;
    gap: 20px;
    border: 3px solid black;
    border-radius: 24px;
    position: relative;
    width: 380px;
}

.container::before {
  content: "";
  position: absolute;

  bottom: -12px;
  left: -12px;

  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 24px;
  background: var(--black);
  background: transparent;
  z-index: -1;
}

header{
    text-align: center;
}

header h1{
    font-size: 3rem;
}

header small{
    font-size: 1rem;
    color: var(--subtle-grey);
}

header .curly-line{
    width: 300px;
  height: 20px;
  border-bottom: 4px solid black;
  border-radius: 100%;
}

form{
    max-width: 80%;
    width: 100%;
}

form input{
    width: 60%;
    padding: 12px 25px;
    border-radius: 20px;
    border: 3px solid var(--black);
}

form button{
    max-width: 32%;
    width: 100%;
    padding: 11px;
    border-radius: 18px;
    cursor: pointer;
    border: 3px solid var(--black);
    text-align: center;
    font-weight: bold;
    background-color: var(--green);
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

form button:hover{
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}

form input:focus{
    outline: none;
    border: 3px solid var(--green);
}
/* CHECKBOX */
/* From Uiverse.io by AatreyuShau */ 
.notebook-checkbox .text {
  filter: url(#handDrawnNoise);
}

.notebook-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: "Courier New", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2em;
}

.notebook-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  filter: url(#handDrawnNoise);
}

.notebook-checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 0.1em;
  height: 1em;
  width: 1em;
  border-radius: 10px;
  border: 3px solid #33333366;
  filter: url(#handDrawnNoise);
  background: radial-gradient(#333333f1 65%, #33333300 70%);
  animation: unmark 0.2s forwards;
  animation-delay: 0.5s;
}

.notebook-checkbox input:checked ~ .checkmark {
  filter: url(#handDrawnNoise);
  animation: mark 0.3s forwards;
}

@keyframes mark {
  0% {
    background: radial-gradient(#3333333d 0%, #33333300 35%);
  }
  50% {
    background: radial-gradient(#3333333d 0%, #33333300 35%);
  }
  75% {
    background: radial-gradient(#333333f1 35%, #33333300 60%);
  }
  100% {
    background: radial-gradient(#333333f1 65%, #33333300 70%);
  }
}

@keyframes unmark {
  0% {
    background: radial-gradient(#333333f1 65%, #33333300 70%);
  }
  50% {
    background: linear-gradient(#333333f1 35%, #33333300 60%);
  }
  100% {
    background: radial-gradient(#3333333d 0%, #33333300 35%);
  }
}

.notebook-checkbox .text {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  display: inline-block;
  filter: url(#handDrawnNoise);
}

.notebook-checkbox .text .cut-line {
  position: absolute;
  left: 0em;
  right: 0;
  bottom: 15%;
  height: 1em;
  width: calc(100% + 15px);
  pointer-events: none;
  stroke: #333;
  stroke-width: 2;
  fill: none;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.notebook-checkbox input:checked ~ .text .cut-line {
  transform: scaleX(1);
}

.notebook-checkbox input:checked ~ .text {
  color: #222222aa;
}

/* END OF TICKBOX */

.list-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}