@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --main-font: "Playfair Display", serif;
    --grey-font: "Montserrat", sans-serif;
    --black: black;
    --white: white;
    --grey-text: #6b7280;
    --red-text: red;
}

*{
    font-family: var(--font);
    margin: 0;
}

.container{
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

.main-heading{
    font-size: 4rem;
    font-family: var(--main-font);
    text-align: center;
}

small{
    color: var(--grey-text);
    font-size: 1.1rem;
    font-family: var(--grey-font);
    letter-spacing: 0.20em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 80%;
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

form label{
    font-family: var(--main-font);
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.2rem;
}

form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid var(--black);
    padding: 10px;
}

form ::placeholder{
    font-family: var(--main-font);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--grey-text);
    letter-spacing: 0.15em;
}

:focus{
    outline: none;
    border-bottom: 5px solid black;
}

.form-wrapper{
    display: flex;
    flex-direction: column;

}

select{
    padding: 15px;
    border: 3px solid black;
    font-size: 1.1rem;
}



.buttons-wrapper{
    display: flex;
    justify-content: space-between;
}

.buttons-wrapper button{
    padding: 20px 35px;
    cursor: pointer;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    border: none;
}